# Ignore the virtual environment directory
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore the config file (contains sensitive information)
config.py

# Ignore environment variable files
*.env

# Ignore database files
*.sqlite3

# Ignore VS Code configuration files
.vscode/